{%- extends "SonatraGluonBundle::base.html.twig" -%}

{%- require_style '@bower/sonatra-jquery-ripple/less/ripple.less' -%}

{%- require_script  '@bower/jquery/dist/jquery.js',
                    '@bower/sonatra-theme-gluon/js/floating-label.js'
                    '@bower/sonatra-jquery-ripple/js/ripple.js'
-%}

{%- trans_default_domain 'FOSUserBundle' -%}

{%- set whitout_navbar = whitout_navbar|default(false) -%}
{%- set logo_src = logo_src|default('bundles/sonatragluon/logo_inverse.svg') -%}
{%- set logo_alt = logo_alt|default('Sonatra') -%}

{%- block title %}{{ 'layout.login'|trans }}{% endblock title -%}

{%- block body_main -%}
{% spaceless %}
    {%- if not(whitout_navbar) -%}
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-account-wrapper" data-spy="affix" data-offset-top="1" data-target=".container-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ vendor_url }}" tabindex="-1"><img src="{{ asset(logo_src) }}" alt="{{ logo_alt }}"></a>
                        <div class="navbar-title">{{ 'layout.login'|trans }}</div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {%- endif -%}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="account-wrapper">
                    {%- if whitout_navbar -%}
                    <div class="logo-wrapper">
                        <a href="{{ vendor_url }}" tabindex="-1"><img src="{{ asset(logo_src) }}" alt="{{ logo_alt }}"></a>
                    </div>
                    <div class="account-title">{{ 'layout.login'|trans }}</div>
                    {%- endif -%}

                    {%- set has_error = false -%}
                    {%- if error -%}
                        {%- if error.message != 'Bad credentials.' -%}
                            <div class="alert alert-danger">
                                {{ error.message|trans({}, 'messages') }}
                            </div>
                        {% else %}
                            {%- set has_error = true -%}
                        {%- endif -%}
                    {%- endif -%}

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <div class="form-group">
                            <div class="floating-group{% if has_error %} has-error{% endif %}">
                                <input type="text" tabindex="1" autofocus="autofocus" data-floating-label class="form-control{% if last_username %} has-floating-content{% endif %}" id="username" name="_username" value="{{ last_username }}" required="required" autocorrect="off" autocapitalize="off" spellcheck="false" />
                                <span class="floating-bar"></span>
                                <label for="username">{{ 'resetting.request.username'|trans|replace({':': ''}) }}</label>
                                {%- if has_error -%}
                                    <div class="help-block">{{ error.message|trans({}, 'messages') }}</div>
                                {%- endif -%}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="floating-group">
                                <input type="password" tabindex="1" data-floating-label class="form-control" id="password" name="_password" required="required" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                                <span class="floating-bar"></span>
                                <label for="password">{{ 'security.login.password'|trans|replace({':': ''}) }}</label>
                            </div>
                        </div>

                        <div class="form-group account-links clearfix">
                            <a href="{{ path("fos_user_resetting_request") }}" tabindex="0" class="pull-right help">{{ 'security.login.forget_password'|trans({}, 'messages') }}</a>
                            <div class="checkbox">
                                <label class="form-control-md">
                                    <input type="checkbox" tabindex="1" id="remember_me" name="_remember_me" class="input-{% if whitout_navbar %}accent{% else %}primary{% endif %}" value="on" checked="checked" />
                                    <span class="form-control-md-style"></span>
                                    <span>{{ 'security.login.remember_me'|trans }}</span>
                                </label>
                            </div>
                        </div>

                        <div class="buttons">
                            <button type="submit" tabindex="1" id="_submit" name="_submit" class="btn btn-accent btn-raised btn-ripple">{{ 'security.login.submit'|trans }}</button>
                            <a class="btn btn-default btn-ripple" tabindex="1" href="{{ path("fos_user_registration_register") }}">{{ 'security.login.new_account'|trans({}, 'messages') }}</a>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
{%- endblock body_main -%}
