{% block fab_widget -%}
{%- if rendered -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-fab')|trim}) -%}
        {%- set caret = false -%}

        {%- if absolute_position is not empty -%}
            {%- if dropdown is not defined -%}
                {%- set btn_group_attr = btn_group_attr|default({})|merge({'class': ('btn-group btn-group-fab-' ~ absolute_position ~ ' ' ~ btn_group_attr.class|default(''))|trim}) -%}
                <div{% for attrname, attrvalue in btn_group_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {%- else -%}
                {%- set btn_group_attr = btn_group_attr|default({})|merge({'class': (btn_group_attr.class|default('') ~ ' btn-group-fab-' ~ absolute_position)|trim}) -%}
            {%- endif -%}
        {%- endif -%}

        {{- block('button_widget') -}}

        {%- if dropdown is not defined and absolute_position is not empty -%}
            </div>
        {%- endif -%}
{%- endif -%}
{%- endblock fab_widget %}


{% block fab_dropdown_widget -%}
{%- if rendered -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' dropdown-fab')|trim}) -%}

    {%- if mask_content -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' mask-content')|trim}) -%}
    {%- endif -%}

    {{- block('dropdown_widget') -}}
{%- endif -%}
{%- endblock fab_dropdown_widget %}

{% block fab_dropdown_item_widget -%}
{%- if rendered -%}
    {%- set link_attr = link_attr|merge({'class': (link_attr.class|default('') ~ ' btn btn-fab')|trim}) -%}

    {%- if style is not null -%}
        {%- set link_attr = link_attr|merge({'class': (link_attr.class|default('') ~ ' btn-' ~ style)|trim}) -%}
    {%- endif -%}

    {%- if size is not null -%}
        {%- set link_attr = link_attr|merge({'class': (link_attr.class|default('') ~ ' btn-' ~ size)|trim}) -%}
    {%- endif -%}

    {%- if ripple -%}
        {%- set link_attr = link_attr|merge({'class': (link_attr.class|default('') ~ ' btn-ripple')|trim}) -%}
    {%- endif -%}

    {%- if disabled -%}
        {%- set link_attr = link_attr|merge({'class': (link_attr.class|default('') ~ ' disabled')|trim}) -%}
    {%- endif -%}

    <li{{ block('widget_container_attributes') }}>
        <a{% for attrname, attrvalue in link_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- label|block_trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
        </a>
        {%- if fab_label is not null -%}
            <span class="fab-label">{{ fab_label|block_trans({}, translation_domain) }}</span>
        {%- endif -%}
    </li>
{%- endif -%}
{%- endblock fab_dropdown_item_widget %}
