{%- use 'SonatraFormExtensionsBundle:Form:form_div_layout.html.twig' with
        select2_widget_content as base_select2_widget_content -%}
{%- use 'SonatraBootstrapBundle:Form:form_bootstrap.html.twig' with
        form_widget_simple as base2_form_widget_simple,
        form_label as base2_form_label,
        textarea_widget as base2_textarea_widget,
        datetime_widget as base2_datetime_widget,
        date_widget as base2_date_widget,
        time_widget as base2_time_widget,
        choice_widget as base_choice_widget,
        base_choice_widget_collapsed as base2_choice_widget_collapsed,
        choice_widget_expanded as base2_choice_widget_expanded,
        collection_widget as base2_collection_widget,
        button_widget as base_button_widget -%}

{% block form_label -%}
    {%- if floating_label|default(false) is not same as(true) -%}
        {{ block('base2_form_label') }}
    {%- endif -%}
{%- endblock form_label %}



{% block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type not in ['submit', 'radio', 'checkbox', 'button', 'hidden'] -%}
        {%- if floating_label|default(false) is same as(true) -%}
        {%- require_script  '@bower/jquery/dist/jquery.js',
                            '@bower/sonatra-theme-gluon/js/floating-label.js' -%}
        {%- endif -%}
        {%- set form_widget_simple_before_content -%}
            <div class="floating-group{% if errors|length > 0 %} has-error{% endif %}">
        {%- endset -%}

        {%- set form_widget_simple_after_content -%}
            <span class="floating-bar"></span>
            {%- if floating_label|default(false) is same as(true) -%}
                {%- set label_attr = label_attr|merge({'class': ('control-label ' ~ label_attr.class|default(''))|trim}) -%}
                {{ block('base_form_label') }}
            {%- endif -%}
            {{- form_errors(form) -}}
            </div>
        {%- endset -%}
    {%- endif -%}
    {{ block('base2_form_widget_simple') }}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {%- if floating_label|default(false) is same as(true) -%}
    {%- require_script  '@bower/jquery/dist/jquery.js',
                        '@bower/sonatra-theme-gluon/js/floating-label.js'
                        '?@bower/sonatra-theme-gluon/js/resizing-textarea.js' -%}
    {%- endif -%}
    {%- set textarea_widget_before_content -%}
        <div class="floating-group{% if errors|length > 0 %} has-error{% endif %}">
    {%- endset -%}

    {%- set textarea_widget_after_content -%}
        <span class="floating-bar"></span>
        {%- if floating_label|default(false) is same as(true) -%}
            {%- set label_attr = label_attr|merge({'class': ('control-label ' ~ label_attr.class|default(''))|trim}) -%}
            {{ block('base_form_label') }}
        {%- endif -%}
        {{- form_errors(form) -}}
        </div>
    {%- endset -%}
    {{ block('base2_textarea_widget') }}

{%- endblock textarea_widget %}

{% block checkbox_widget_content -%}
    {%- set wrapper_class = wrapper_class|default('form-control-md') -%}
    {%- if style -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ style)|trim}) -%}
    {%- endif -%}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <span class="{{ wrapper_class }}">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span class="form-control-md-style"></span>
            <span>{% if label != ' ' %}{{ label }}{% endif %}</span>
        </span>
    </label>
    {{- form_errors(form) -}}
{%- endblock checkbox_widget_content %}


{% block radio_widget_content %}
    {%- if style -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ style)|trim}) -%}
    {%- endif -%}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <span class="form-control-md">
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span class="form-control-md-style"></span>
            <span>{% if label != ' ' %}{{ label }}{% endif %}</span>
        </span>
    </label>
    {{- form_errors(form) -}}
{%- endblock radio_widget_content %}


{% block toggle_widget -%}
    {%- set wrapper_class = wrapper_class|default('form-control-md-toggle') -%}
    {{ block('checkbox_widget') }}
{%- endblock toggle_widget %}


{% block file_widget -%}
    {%- require_script '?@bower/jquery/dist/jquery.js', '?@bower/bootstrap-filestyle/src/bootstrap-filestyle.js' -%}
    {%- set attr = attr|merge({'class': ('filestyle ' ~ attr.class|default(''))|trim, 'data-classButton': 'btn btn-default btn-file-input-text', 'data-classInput':'form-control', 'data-buttonText':'form.input.file.choose-file'|trans({}, 'SonatraGluonBundle')}) -%}
    {{- block('form_widget_simple') -}}
{%- endblock file_widget %}


{% block choice_widget -%}
    {%- if select2 is defined -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' select2')|trim}) -%}
        {{- block('select2_widget_content') -}}
    {%- else -%}
        {{- block('base_choice_widget') -}}
    {%- endif -%}
{%- endblock choice_widget %}

{% block base_choice_widget_collapsed -%}
    {%- if floating_label|default(false) -%}
        <div class="floating-group{% if errors|length > 0 %} has-error{% endif %}">
    {%- endif -%}

    {{- block('base2_choice_widget_collapsed') -}}

    {%- if floating_label|default(false) -%}
        {%- set label_attr = label_attr|merge({'class': ('control-label top-floating-label-choice' ~ label_attr.class|default(''))|trim}) -%}
        {{ block('base_form_label') }}
        </div>
    {%- endif -%}
{%- endblock base_choice_widget_collapsed %}

{% block choice_widget_expanded -%}
    {%- set choice_widget_expanded_before_content -%}
        {%- if floating_label|default(false) -%}
            <div class="floating-group{% if errors|length > 0 %} has-error{% endif %}">
        {%- endif -%}
    {%- endset -%}

    {%- set choice_widget_expanded_after_content -%}
        {%- if floating_label|default(false) -%}
            {%- set label_attr = label_attr|merge({'class': ('control-label top-floating-label' ~ label_attr.class|default(''))|trim}) -%}
            {{ block('base_form_label') }}
            </div>
        {%- endif -%}
        {{- form_errors(form) -}}
    {%- endset -%}

    {{- block('base2_choice_widget_expanded') -}}
{%- endblock choice_widget_expanded %}

{% block collection_widget -%}
    {%- if selector is defined -%}
        {{- block('addon_start') -}}

        {%- if floating_label|default(false) -%}
            <div class="floating-group{% if errors|length > 0 %} has-error{% endif %}">
        {%- endif -%}
        {{- form_widget(selector) -}}

        {%- if floating_label|default(false) -%}
            {%- set label_attr = label_attr|merge({'class': ('control-label top-floating-label' ~ label_attr.class|default(''))|trim}) -%}
            {{ block('base_form_label') }}
            </div>
        {%- endif -%}

        {{- form_errors(form) -}}
        {{- block('addon_end') -}}
    {%- else -%}
        {%- set collection_widget_before_content -%}
            <div class="floating-group{% if errors|length > 0 %} has-error{% endif %}">
            {%- if floating_label|default(false) is same as(true) -%}
                {%- set label_attr = label_attr|merge({'class': ('control-label top-floating-label' ~ label_attr.class|default(''))|trim}) -%}
                {{ block('base_form_label') }}
            {%- endif -%}
        {%- endset -%}

        {%- set collection_widget_after_content -%}
            </div>
        {%- endset -%}

        {{- block('base2_collection_widget') -}}

        {%- inline_script position='pjax_content' -%}
        <script>
            $(document).appPjax('addRegister', function () {
                {{- block('collection_widget_content_js') -}}
            });
            $(document).appPjax('addUnregister', function () {
                {%- if btn_add is defined and prototype is defined -%}
                    $('#{{ btn_add.vars.id }}').off('click.st.bootstrap');
                {%- endif -%}

                {%- if allow_delete and prototype is defined -%}
                    $('#{{ id }}').off('click.st.bootstrap', 'button.btn-remove');
                {%- endif -%}
            });
        </script>
        {%- endinline_script -%}
    {%- endif -%}
{%- endblock collection_widget %}


{% block datetime_widget -%}
    {%- require_script '@bower/jquery/dist/jquery.js', '@bower/moment/moment.js', '@bower/hammerjs/hammer.js', '@bower/jquery-knob/js/jquery-knob.js', '@bower/sonatra-jquery-datetime-picker/js/datetime-picker.js' -%}
    {%- require_style '@bower/sonatra-jquery-datetime-picker/less/datetime-picker.less' -%}

    {%- set append_icon = append_icon|default('<span class="fa fa-calendar-o"></span>') -%}
    {%- set append_btn_style = append_btn_style|default('btn-default') -%}
    {%- set append_type = 'btn' -%}
    {%- set append_string -%}
        <button class="btn {{ append_btn_style }}" type="button" id="{{ id ~ '_datetime_btn' }}">
            {{ append_icon|raw }}
        </button>
    {%- endset -%}
    {{- block('base2_datetime_widget') -}}
{%- endblock datetime_widget %}

{% block date_widget -%}
    {{- block('datetime_widget') -}}
{%- endblock date_widget %}

{% block time_widget -%}
    {%- set append_icon = append_icon|default('<span class="fa fa-clock-o"></span>') -%}
    {%- set type= 'text' -%}
    {{- block('datetime_widget') -}}
{%- endblock time_widget %}

{% block select2_widget_content -%}
    {%- require_style   '@bower/select2-bootstrap-theme/src/build.less'
                        '@bower/sonatra-select2-responsive/less/select2-responsive.less'
                        '?@bower/sonatra-jquery-scroller/less/scroller.less' -%}
    {%- require_script  '@bower/jquery/dist/jquery.js'
                        '?@bower/sonatra-jquery-scroller/js/scroller.js'
                        '@bower/select2/dist/js/select2.js'
                        '?@bower/sonatra-select2-responsive/js/select2-responsive.js'
                        '?@bower/sonatra-select2-jquery-scroller/js/select2-jquery-scroller.js' -%}
    {%- set attr = attr|merge({'data-select2-jquery-scroller': 'true', 'data-select2-responsive': 'true'}) -%}
    {{- block('base_select2_widget_content') -}}

    {%- inline_script position='pjax_content' -%}
    <script>
        $(document).appPjax('addRegister', function () {
            {{- block('select2_widget_content_js') -}}
        });
        $(document).appPjax('addUnregister', function () {
            $( '#{{ id }}' ).off('change.sonatra_select2');
            $( '#{{ id }}' ).select2('destroy');
        });
    </script>
    {%- endinline_script -%}
{%- endblock select2_widget_content %}


{% block button_widget -%}
    {%- if raised is defined and raised -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-raised')|trim}) -%}
    {%- endif -%}

    {%- if ripple is defined and ripple -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-ripple')|trim}) -%}
    {%- endif -%}

    {{- block('base_button_widget') -}}
{%- endblock button_widget %}
