{% use '@SonatraFormExtensions/Form/form_div_layout.html.twig' %}
{% use '@SonatraBootstrap/Form/form_bootstrap.html.twig' with   datetime_widget as base_datetime_widget,
                                                                date_widget as base_date_widget,
                                                                time_widget as base_time_widget,
                                                                choice_widget as base_choice_widget,
                                                                collection_widget as base_collection_widget %}



{% block checkbox_widget_content %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('form-control-fa ' ~ attr.class|default(''))|trim}) %}
    {% if style %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ style)|trim}) %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <i class="fa form-control-fa-style"></i>
        <span>{{ label|trans({}, translation_domain) }}</span>
    </label>
{% endspaceless %}
{% endblock checkbox_widget_content %}


{% block radio_widget_content %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('form-control-fa ' ~ attr.class|default(''))|trim}) %}
    {% if style %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-' ~ style)|trim}) %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <i class="fa form-control-fa-style"></i>
        <span>{{ label|trans({}, translation_domain) }}</span>
    </label>
{% endspaceless %}
{% endblock radio_widget_content %}


{% block file_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('filestyle ' ~ attr.class|default(''))|trim, 'data-classButton': 'btn btn-default btn-file-input-text', 'data-classInput':'form-control', 'data-buttonText':'form.input.file.choose-file'|trans({}, 'SonatraGluonBundle')}) %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock file_widget %}


{% block choice_widget %}
{% spaceless %}
    {% if select2 is defined %}
        {% if select2.ajax or select2.tags is defined %}
            {% set form_widget_simple_block_name = 'select2_widget_content' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {{ block('select2_widget_content') }}
        {% endif %}
    {% else %}
        {{ block('base_choice_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block collection_widget %}
{% spaceless %}
    {% if select2 is defined %}
        {% if select2.ajax or select2.tags is defined %}
            {% set form_widget_simple_block_name = 'select2_widget_content' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {{ block('select2_widget_content') }}
        {% endif %}
    {% else %}
        {{ block('base_collection_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock collection_widget %}


{% block datetime_widget %}
{% spaceless %}
    {% set append_icon = append_icon|default('fa fa-calendar-o') %}
    {% set append_type = 'btn' %}
    {% set append_string %}
        <button class="btn btn-default" type="button" id="{{ id ~ '_datetime_btn' }}">
            <span class="{{ append_icon }}"></span>
        </button>
    {% endset %}
    {{ block('base_datetime_widget') }}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {{ block('datetime_widget') }}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% set append_icon = append_icon|default('fa fa-clock-o') %}
    {% set type= 'text' %}
    {{ block('datetime_widget') }}
{% endspaceless %}
{% endblock time_widget %}
